@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

body {
  @apply bg-white text-black;
}

body {
  font-family: "Outfit", sans-serif;
}

.font-prata {
  font-family: "Prata", serif;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.tranEseOut {
  @apply transform transition-all ease-in-out duration-300;
}

.pageW {
  @apply w-[95%] lg:w-[85%] md:w-[90%] sm:w-[95%] mx-auto;
}

button {
  @apply cursor-pointer;
}

@media(max-width:520px) {

  html,
  body {
    scrollbar-width: none;
  }
}